*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
   animation: hue 10s infinite;
   overflow: hidden;
   /* background-image: url(./asset/undraw.png);
   background-repeat: no-repeat;
   background-position:center; */
}
.like{
  color:'blue';
  background-color: 'blue';
}
@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

.searchContainer{
  display: flex;
  width: 40vw;
  height: 15rem;
  margin-top: 5rem;
  border: .1rem solid #feab3a;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content:center
}
.logocontainer{
  width: 5rem;
  height: 10rem;
  margin-right: 4rem;
}
.searchbox{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.link{
  text-align: center;
  text-decoration: none;
  font-size: .9rem;
  padding: .5rem;
}
.search{
  width: 70%;
  padding: .5rem;
  outline: none;
}
.icons{
  display: flex;
  align-items: center;
  height: 1rem;
}
.fas{
  margin-bottom: 1rem;
}
.details{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 2rem;
  /* align-items: center; */
}
.detailstext{
  font-size: .5rem;
  color: blue;
}
.detailstext2{
  font-size: .6rem;
}
.btn{
  padding: .5rem;
  background-color: #151561;
  color: white;
  outline: none;
  border-radius: .5rem;
  border:none;
  width: 20%;
}
.boldtext{
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: bold;
  text-align: center;
}
.imagecontainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.images{ 
  margin-left: 1rem;
}
@media only screen and (max-width: 900px) {
  .searchContainer{
    width: 70vw;
    height: 20rem;
  }
  .searchbox{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .search{
    width: 90%;
    margin-bottom: 1rem;
  }
  
  .btn{
    width: 35%;
  }
}